<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Vehicle Owner</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/styles.css" />
</head>

<body>
    <nav class="navbar">
        <div class="navbar-left">
            <p class="navbar-text">Shri Param Hans Advait Mat (Jyoti Dham) Ontario</p>
        </div>
        <div class="navbar-right">
            <img src="logo.png" alt="Logo">
        </div>
    </nav>
</body>

</html>