<%- include("header"); -%>



    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thank You</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f2f2f2;
                text-align: center;
                margin: 0;
                padding: 0;
            }

            .container1 {
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                max-width: 600px;
                margin: 100px auto;
                padding: 20px;
            }

            h1 {
                color: #333;
                font-size: 36px;
                margin-bottom: 20px;
            }

            p {
                color: #666;
                font-size: 18px;
                margin-bottom: 30px;
            }

            a {
                background-color: #007bff;
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 3px;
                cursor: pointer;
            }

            a:hover {
                background-color: rgb(20, 181, 20);
                color: white;
                text-decoration: none;
            }

            .simple {
                text-decoration: none;
                background-color: transparent;
                color: #666;

            }

            .simple:hover {
                background-color: transparent;
                color: #007bff;
                text-decoration: none;
            }
        </style>
    </head>

    <body>
        <div class="container1">
            <h1>Thank You!</h1>
            <p>Your data has been successfully saved.</p>
            <a href="/">Back to Homepage</a>
        </div>
    </body>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; <%= new Date().getFullYear() %> <a target="_blank" class="simple"
                                href="https://www.gozoomtech.com">Gozoom
                                Technologies</a></p>
                    <p>This app is Deployed and Designed by Gozoom Technologies</p>
                </div>
            </div>
        </div>
    </footer>


    </html>